#chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#chat-side-bar {
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 2;
    height: 80vh;
}

#chat-item-list {
    display: flex;
    flex-direction: column;
}